<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/css/bootstrap.css"></script>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
</head>
<body>
    <h1>Welcome Home</h1>
    <a href="/addQuestions"><button>Add Questions</button></a>
    <a href="/questions"><button>Check out the questions</button></a>

</body>
</html>